{% comment %}
<section class="navigation__bar">
  <div class="navigation__container">
    <div class="navigation__inner">
      <div class="nav__items">
      	<ul class="navigation-bar navigation__list--items">
        {%- for link in linklists.custom-menu.links -%}
        <li>
          <a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
            {{ link.title }}
          </a>
          {%- if section.settings.menu != blank -%}
          <div class="nav__dropdown">
            <div class="nav__dropdown-title">
              <h2>{{section.settings.link_list_items}}</h2>
            </div>
          </div>
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
         <div class="brand">
        <a href="#!">
        	<svg width="76" height="37" viewBox="0 0 76 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.45727 0.886383C3.25448 1.31595 1.19255 2.57602 0.906171 3.06287C0.762981 3.23469 1.62212 4.32293 2.93946 5.66892C6.83422 9.59231 13.8791 15.1767 20.4086 19.4438C22.6137 20.8756 25.5921 23.224 27.7685 25.2C30.8614 27.9779 31.5774 28.522 32.3506 28.522C34.3553 28.4933 36.0449 27.3192 42.5743 21.3052C44.5504 19.501 48.4738 16.1218 51.3089 13.7448C54.1154 11.3965 57.4088 8.56135 58.6116 7.4731C59.8144 6.35623 61.7904 4.58068 62.9932 3.52107C65.5992 1.2014 65.9429 0.25635 64.0241 0.571367C61.3895 1.00093 58.3252 3.00559 52.9699 7.8454C49.6193 10.881 43.7485 15.9499 38.8228 20.1311C36.5317 22.0784 35.5581 22.7371 35.2144 22.5939C34.928 22.4794 33.8971 21.7348 32.952 20.9043C31.9783 20.1024 30.5464 19.0715 29.8018 18.6419C26.8521 16.9809 19.7213 11.9979 17.6594 10.1937C16.4852 9.1341 14.681 7.64493 13.65 6.84307C12.6191 6.04121 10.7863 4.26566 9.55482 2.91968C7.09196 0.227713 6.69103 0.0558834 4.45727 0.886383Z" fill="#1B1D26"/>
            <path d="M71.3548 4.49535C70.6388 4.92492 69.9229 5.55496 63.7371 11.0534C60.9878 13.4877 58.1241 16.0078 57.3222 16.6378C56.549 17.2679 54.3438 19.2725 52.4537 21.0767C50.5636 22.8809 46.8121 26.2602 44.1487 28.5798C41.4568 30.8709 38.593 33.4769 37.7339 34.3361C36.2447 35.8825 36.216 35.9112 36.8461 36.2548C37.5334 36.6271 39.7099 36.4266 40.6836 35.9112C41.2563 35.5961 46.583 30.8995 53.4561 24.6564C55.8903 22.4227 59.8996 18.9289 62.3338 16.8669C71.5266 9.10606 75.6791 5.09675 75.1063 4.52399C74.7627 4.20897 71.8989 4.18034 71.3548 4.49535Z" fill="#1B1D26"/>
            <path d="M36.4177 5.6132C33.7544 5.72775 31.177 5.95686 30.6901 6.10005C28.5423 6.84463 27.0817 7.64649 27.1677 7.99015C27.2536 8.16198 28.3132 9.13567 29.5732 10.138C30.8047 11.1403 32.9239 12.8586 34.2412 13.9468C35.5872 15.0351 36.8759 15.9229 37.105 15.9229C38.3937 15.9229 40.1406 14.5482 43.3481 10.9971C45.2095 8.96384 46.756 7.01646 46.8133 6.73008C47.0137 5.55593 44.2931 5.26955 36.4177 5.6132Z" fill="#1B1D26"/>
            </svg>
        </a>
      </div>
          <ul class="nav-list">
        <li>
          <a href="">
            <svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.1755 20C10.7069 19.5085 10.2737 19.0399 9.82388 18.5859C7.22055 15.9659 4.60055 13.3625 2.00971 10.7321C0.143637 8.83898 -0.501988 6.58137 0.408138 4.05717C1.22246 1.79748 2.91567 0.456236 5.30866 0.0792731C7.55794 -0.274781 9.36986 0.581197 10.9048 2.16611C10.9777 2.24108 11.0506 2.31398 11.1297 2.38271C11.1672 2.41603 11.2193 2.43269 11.2838 2.46601C12.1127 1.65585 12.9645 0.891514 14.0725 0.437492C17.2923 -0.876672 21.1453 0.943582 22.1574 4.25294C22.9155 6.72924 22.2991 8.86397 20.5517 10.6551C17.5735 13.7083 14.5245 16.6906 11.5046 19.7022C11.4275 19.7751 11.3484 19.8417 11.1755 20ZM11.3067 18.5692C11.4692 18.3526 11.5775 18.1693 11.7233 18.0215C13.254 16.4865 14.7952 14.9641 16.3218 13.425C17.6526 12.0838 19.0397 10.7904 20.2705 9.36173C22.0117 7.34154 21.7742 4.27169 19.8644 2.48476C17.8151 0.568701 14.8181 0.547874 12.8167 2.43894C12.2898 2.93669 11.7691 3.4407 11.2505 3.93846C10.8132 3.51776 10.3945 3.13663 10.0009 2.72843C7.45381 0.0896867 3.25931 0.652008 1.59109 3.89889C0.641396 5.74413 0.895481 8.17669 2.73031 9.99902C5.45028 12.6982 8.14108 15.4265 10.8444 18.1402C10.9527 18.2464 11.0672 18.3464 11.3067 18.5692Z" fill="black"/>
            </svg>
          </a>
        </li>
        <li class="user__icon">
          <a href="">
            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.528534 19.9698C0.0934091 16.5812 2.36783 10.7207 8.20944 9.55198C6.44371 8.52618 5.45575 7.04633 5.43893 5.03046C5.42632 3.62419 5.94342 2.39238 6.98184 1.42123C9.24575 -0.697635 12.6216 -0.418063 14.5513 2.06446C16.0606 4.00466 16.0963 7.61599 12.8087 9.53516C17.9903 11.0634 20.2563 14.7209 20.4896 19.9656C20.086 19.9656 19.7791 19.9656 19.3966 19.9656C19.384 19.7154 19.3692 19.4611 19.3587 19.2046C19.2305 16.1041 17.9461 13.6089 15.4132 11.8012C14.1982 10.933 12.8003 10.5652 11.3163 10.5231C9.54004 10.4727 7.77641 10.5063 6.15783 11.3955C3.60384 12.7975 2.17444 14.9942 1.65524 17.8194C1.56485 18.3154 1.55013 18.8283 1.53332 19.3328C1.51019 20.0139 1.52281 20.0139 0.822822 19.995C0.721923 19.9929 0.621025 19.9782 0.528534 19.9698ZM10.5154 1.0786C8.2704 1.0765 6.48155 2.82751 6.47945 5.03256C6.47735 7.2229 8.29562 9.01595 10.5112 9.00544C12.7015 8.99493 14.4946 7.20819 14.4925 5.03887C14.4883 2.84433 12.7162 1.0807 10.5154 1.0786Z" fill="black"/>
            </svg>  
          </a>
        </li>
        <li><a href="">third</a></li>
      </ul>
      </div>
      <div class="nav-mobile"><a id="navbar-toggle" href="#!"><span>
        <i class="fas fa-bars"></i>
        </span></a></div>
    </div>
  </div>
</section>
 



<!-- 
 <ul class="navigation__list--items">
        {%- for link in linklists.custom-menu.links -%}
        <li>
          <a href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
            {{ link.title }}
          </a>
          {%- if section.settings.menu != blank -%}
          <div class="nav__dropdown">
            <div class="nav__dropdown-title">
              <h2>{{section.settings.link_list_items}}</h2>
            </div>
          </div>
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>

      <div class="nav-mobile"><a id="navbar-toggle" href="#!"><span>
        <i class="fas fa-bars"></i>
        </span></a></div>
      <div class="brand">
        <a href="#!">
        	<svg width="76" height="37" viewBox="0 0 76 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M4.45727 0.886383C3.25448 1.31595 1.19255 2.57602 0.906171 3.06287C0.762981 3.23469 1.62212 4.32293 2.93946 5.66892C6.83422 9.59231 13.8791 15.1767 20.4086 19.4438C22.6137 20.8756 25.5921 23.224 27.7685 25.2C30.8614 27.9779 31.5774 28.522 32.3506 28.522C34.3553 28.4933 36.0449 27.3192 42.5743 21.3052C44.5504 19.501 48.4738 16.1218 51.3089 13.7448C54.1154 11.3965 57.4088 8.56135 58.6116 7.4731C59.8144 6.35623 61.7904 4.58068 62.9932 3.52107C65.5992 1.2014 65.9429 0.25635 64.0241 0.571367C61.3895 1.00093 58.3252 3.00559 52.9699 7.8454C49.6193 10.881 43.7485 15.9499 38.8228 20.1311C36.5317 22.0784 35.5581 22.7371 35.2144 22.5939C34.928 22.4794 33.8971 21.7348 32.952 20.9043C31.9783 20.1024 30.5464 19.0715 29.8018 18.6419C26.8521 16.9809 19.7213 11.9979 17.6594 10.1937C16.4852 9.1341 14.681 7.64493 13.65 6.84307C12.6191 6.04121 10.7863 4.26566 9.55482 2.91968C7.09196 0.227713 6.69103 0.0558834 4.45727 0.886383Z" fill="#1B1D26"/>
            <path d="M71.3548 4.49535C70.6388 4.92492 69.9229 5.55496 63.7371 11.0534C60.9878 13.4877 58.1241 16.0078 57.3222 16.6378C56.549 17.2679 54.3438 19.2725 52.4537 21.0767C50.5636 22.8809 46.8121 26.2602 44.1487 28.5798C41.4568 30.8709 38.593 33.4769 37.7339 34.3361C36.2447 35.8825 36.216 35.9112 36.8461 36.2548C37.5334 36.6271 39.7099 36.4266 40.6836 35.9112C41.2563 35.5961 46.583 30.8995 53.4561 24.6564C55.8903 22.4227 59.8996 18.9289 62.3338 16.8669C71.5266 9.10606 75.6791 5.09675 75.1063 4.52399C74.7627 4.20897 71.8989 4.18034 71.3548 4.49535Z" fill="#1B1D26"/>
            <path d="M36.4177 5.6132C33.7544 5.72775 31.177 5.95686 30.6901 6.10005C28.5423 6.84463 27.0817 7.64649 27.1677 7.99015C27.2536 8.16198 28.3132 9.13567 29.5732 10.138C30.8047 11.1403 32.9239 12.8586 34.2412 13.9468C35.5872 15.0351 36.8759 15.9229 37.105 15.9229C38.3937 15.9229 40.1406 14.5482 43.3481 10.9971C45.2095 8.96384 46.756 7.01646 46.8133 6.73008C47.0137 5.55593 44.2931 5.26955 36.4177 5.6132Z" fill="#1B1D26"/>
            </svg>
        </a>
      </div>
      <ul class="nav-list">
        <li>
          <a href="">
            <svg width="23" height="20" viewBox="0 0 23 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.1755 20C10.7069 19.5085 10.2737 19.0399 9.82388 18.5859C7.22055 15.9659 4.60055 13.3625 2.00971 10.7321C0.143637 8.83898 -0.501988 6.58137 0.408138 4.05717C1.22246 1.79748 2.91567 0.456236 5.30866 0.0792731C7.55794 -0.274781 9.36986 0.581197 10.9048 2.16611C10.9777 2.24108 11.0506 2.31398 11.1297 2.38271C11.1672 2.41603 11.2193 2.43269 11.2838 2.46601C12.1127 1.65585 12.9645 0.891514 14.0725 0.437492C17.2923 -0.876672 21.1453 0.943582 22.1574 4.25294C22.9155 6.72924 22.2991 8.86397 20.5517 10.6551C17.5735 13.7083 14.5245 16.6906 11.5046 19.7022C11.4275 19.7751 11.3484 19.8417 11.1755 20ZM11.3067 18.5692C11.4692 18.3526 11.5775 18.1693 11.7233 18.0215C13.254 16.4865 14.7952 14.9641 16.3218 13.425C17.6526 12.0838 19.0397 10.7904 20.2705 9.36173C22.0117 7.34154 21.7742 4.27169 19.8644 2.48476C17.8151 0.568701 14.8181 0.547874 12.8167 2.43894C12.2898 2.93669 11.7691 3.4407 11.2505 3.93846C10.8132 3.51776 10.3945 3.13663 10.0009 2.72843C7.45381 0.0896867 3.25931 0.652008 1.59109 3.89889C0.641396 5.74413 0.895481 8.17669 2.73031 9.99902C5.45028 12.6982 8.14108 15.4265 10.8444 18.1402C10.9527 18.2464 11.0672 18.3464 11.3067 18.5692Z" fill="black"/>
            </svg>
          </a>
        </li>
        <li class="user__icon">
          <a href="">
            <svg width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.528534 19.9698C0.0934091 16.5812 2.36783 10.7207 8.20944 9.55198C6.44371 8.52618 5.45575 7.04633 5.43893 5.03046C5.42632 3.62419 5.94342 2.39238 6.98184 1.42123C9.24575 -0.697635 12.6216 -0.418063 14.5513 2.06446C16.0606 4.00466 16.0963 7.61599 12.8087 9.53516C17.9903 11.0634 20.2563 14.7209 20.4896 19.9656C20.086 19.9656 19.7791 19.9656 19.3966 19.9656C19.384 19.7154 19.3692 19.4611 19.3587 19.2046C19.2305 16.1041 17.9461 13.6089 15.4132 11.8012C14.1982 10.933 12.8003 10.5652 11.3163 10.5231C9.54004 10.4727 7.77641 10.5063 6.15783 11.3955C3.60384 12.7975 2.17444 14.9942 1.65524 17.8194C1.56485 18.3154 1.55013 18.8283 1.53332 19.3328C1.51019 20.0139 1.52281 20.0139 0.822822 19.995C0.721923 19.9929 0.621025 19.9782 0.528534 19.9698ZM10.5154 1.0786C8.2704 1.0765 6.48155 2.82751 6.47945 5.03256C6.47735 7.2229 8.29562 9.01595 10.5112 9.00544C12.7015 8.99493 14.4946 7.20819 14.4925 5.03887C14.4883 2.84433 12.7162 1.0807 10.5154 1.0786Z" fill="black"/>
            </svg>  
          </a>
        </li>
        <li><a href="">third</a></li>
      </ul>


 -->





{% schema %}
 {
   "name":"QT Header",
   "settings":[
      {
        "type":"link_list",
        "id":"menu",
        "default":"main-menu",
        "label":"t:sections.header.settings.menu.label"
      }
    ]
}
{% endschema %}

{% endcomment %}